body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
